<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistroControl</servlet-name>
        <servlet-class>controlador.RegistroControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorU</servlet-name>
        <servlet-class>controlador.ControladorU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productosAgregar</servlet-name>
        <servlet-class>controlador.productosAgregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Productos</servlet-name>
        <servlet-class>controlador.Productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsu</servlet-name>
        <servlet-class>controlador.ControladorUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidarIngreso</servlet-name>
        <servlet-class>controlador.ValidarIngreso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroControl</servlet-name>
        <url-pattern>/RegistroControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorU</servlet-name>
        <url-pattern>/ControladorU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productosAgregar</servlet-name>
        <url-pattern>/productosAgregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Productos</servlet-name>
        <url-pattern>/Productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsu</servlet-name>
        <url-pattern>/ControladorUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidarIngreso</servlet-name>
        <url-pattern>/ValidarIngreso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
